<form action="http://localhost:3000" method="POST">
  <div class="form-group">
    <label for="searchfield">Search for Images using the field below</label>
    <input name="seach" for="searchfield" type="text" class="form-control" id="searchfield" placeholder="Search for images..." (click)="getImages()">
    <!-- <input type="text" class="form-control" id="searchfield" aria-describedby="emailHelp" placeholder="Search for images..."> -->
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> sdfsfddf -->
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
 </form>
